body
{
	/* background-color: #558C89; */
	background-color: #fff;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Ubuntu', sans-serif;
/* 	text-align:center;
 */}

.inputbox{
/* display:block;
	margin-left:auto;
	margin-right:auto; */
}

h1{
text-align:center;
}

table 
{
	border: 10;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	background-color: lightgrey;
	
}

th, td
{
    padding: 5px;
	border: 1;
}

#title
{
	
}

#authors
{
	
	
}

textarea
{
	background-color: lightgrey;
}